{{#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    {{> nav-main }}

    <div class="container">
      <!-- page content gets inserted here -->
      {{> body }}
    </div>

    {{> footer }}
  </body>
</html>
{{/prettify}}