---
layout: pretty.hbs
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    <!-- Navbar -->
    {{> nav-main }}

    <!-- Content -->
    <div class="container">
      {{> body }}
    </div>

    <!-- JS and analytics only. -->
    {{> footer }}

  </body>
</html>
