<!-- Pager -->
<ul class="pager pager-justified">
  <li class="previous"><a href="#">&larr; Previous</a></li>
  <li class="next"><a href="#">Next &rarr;</a></li>
</ul>

<!-- Pager -->
<ul class="pager pager-justified">
  <li class="pager-heading">POPULAR</li>
  <li class="next"><a href="#">More &rarr;</a></li>
</ul>

<!-- Pager -->
<ul class="pager">
  <li class="pager-heading">POPULAR</li>
  <li class="next"><a href="#">More &rarr;</a></li>
</ul>