{{#compose "content/*.md"}}
<article class="post post-item">
  <a class="pull-right" href="#">
    <img class="post-object" data-src="{{assets}}/js/holder.js/72x72" alt="Generic placeholder image" src="data:image/png;base64,">
  </a>
  <div class="post-body">
    <a href="#"><h2 class="post-heading">Post heading</h2></a>
    {{{content}}}
  </div>
  <div class="post-footer">
    <a class="text-muted" href="#">Read more...</a>
  </div>
</article>
{{/compose}}