---
title: Home
---

{{pager pagination}}

<!-- Post -->
{{> article ipsum }}

<!-- Post -->
{{> article ipsum }}

<!-- Post -->
{{> article ipsum }}

<!-- Pager -->
<ul class="pager">
  <li class="pager-heading">LATEST</li>
  <li class="next"><a href="#">More &rarr;</a></li>
</ul>

<!-- Post -->
{{> article }}

<!-- Post -->
{{> article }}

<!-- Post -->
{{> article }}
